<app-header></app-header>

<div class="container">
  <p>Mia es una joven de veinticinco años que sufre violencia de género. Su pareja, Gonzalo, un hombre de treinta y cinco años que padece sociopatía, la maltrata física y psicológicamente desde hace tres años. Viven en las afueras de Barcelona, en una casa alejada de la ciudad, de la que no puede salir sin la compañía de Gonzalo. Mia está dispuesta a poner fin a su relación con Gonzalo, pero para dar el paso necesita tu ayuda. Tú decides si salvarla o no.</p>
  <p>¿Estás preparado para adentrarte en una historia interactiva en la que tú eres el protagonista? Juega como Mia, toma partida en la acción y decide en cada momento la que consideres que es la mejor opción. De ello dependerá el futuro de su relación con Gonzalo.</p>
  <p>Desde Mia, queremos contribuir a la lucha contra la violencia machista, y por ello, nuestra intención es desarrollar un producto audiovisual de ficción que persigue dos únicos objetivos.</p>
  <p>Concienciar a los jóvenes de la importancia de poner fin a la violencia machista. 482.783 mujeres han sido víctimas del maltrato en el último año en nuestro país. Quizás el único modo de erradicarla sea enseñando a los jóvenes la realidad que viven muchas mujeres, para evitar que los casos sigan sucediéndose en el futuro.</p>
  <p>Ofrecer nuestro apoyo a las mujeres maltratadas y animarlas a dar el paso. Creemos que la experiencia interactiva es una herramienta útil para conseguir que nuestros espectadores/a percibir en su propio ser las mismas emociones que la protagonista y comprendan que la única vía posible es tomar partido y denunciar.</p>
</div>

<app-footer></app-footer>
