<app-header></app-header>

<div class="container team">

  <table>
    <tr>
      <td>
        <img src="assets/director.png">
        <p><b>Marc Vilalta</b></p>
        <p>Director</p>
        <a href="mailto:marcvilaltaprats@gmail.com"><i class="fa fa-envelope"></i></a>
      </td>
      <td>
        <img src="assets/guionista.png">
        <p><b>Toni Santolaria</b></p>
        <p>Guionista</p>
        <a href="mailto:tsanto97@gmail.com"><i class="fa fa-envelope"></i></a>
      </td>
      <td>
        <img src="assets/productora.png">
        <p><b>Cecilia Iris</b></p>
        <p>Productora</p>
        <a href="mailto:ceci.iris@gmail.com"><i class="fa fa-envelope"></i></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/postproductor.png">
        <p><b>Òscar González</b></p>
        <p>Postproductor</p>
        <a href="mailto:o.galle@hotmail.com"><i class="fa fa-envelope"></i></a>
      </td>
      <td>
        <img src="assets/fotografia.png">
        <p><b>Edgar Ortiz</b></p>
        <p>Director fotografía</p>
        <a href="mailto:edgarortizsacristan@gmail.com"><i class="fa fa-envelope"></i></a>
      </td>
      <td>
        <img src="assets/espectador.png">
        <p><b>Tú</b></p>
        <p>Espectador</p>
        <a class="you"><i class="fa fa-envelope"></i></a>
      </td>
    </tr>
  </table>

</div>

<app-footer></app-footer>
