<app-header></app-header>

<div class="trailer-bg">

  <video class="trailer-player" autoplay muted loop></video>

  <div class="container">
    <a href="/play" class="button-play"></a>
  </div>

</div>

<div class="footer">
  <a *ngIf="facebookUser" href="https://facebook.com/{{facebookUser}}" target="_blank"><i class="fa fa-facebook"></i></a>
  <a *ngIf="instagramUser" href="https://instagram.com/{{instagramUser}}" target="_blank"><i class="fa fa-instagram"></i></a>
  <a *ngIf="twitterUser" href="https://twitter.com/{{twitterUser}}" target="_blank"><i class="fa fa-twitter"></i></a>
  <a *ngIf="emailAddress" href="mailto:{{emailAddress}}"><i class="fa fa-envelope"></i></a>
</div>
