<div class="header">
  <a class="logo">{{ producer }}</a>
  <div class="nav-links">
    <a href="/project">{{ project }}</a>
    <a href="/contact">{{ team }}</a>
    <a href="/about">{{ contact }}</a>
  </div>
</div>

<div class="trailer-bg">

  <video class="trailer-player" autoplay muted loop></video>

  <div class="container">
    <a href="/play" class="button-play"></a>
  </div>

</div>

<div class="footer">
  <a href="https://facebook.com/{{facebookUser}}" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://instagram.com/{{instagramUser}}" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="https://twitter.com/{{twitterUser}}" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="mailto:{{emailAddress}}"><i class="fa fa-envelope"></i></a>
</div>
