<app-header></app-header>

<div class="container">
  <p>Queremos conocer tu opinión de ​<i>Mia: Un cortometraje interactivo​</i>. Cuéntanos tu experiencia interactiva para que podamos publicarla en nuestras redes sociales. Tenemos cuenta en <a *ngIf="instagramUser" href="https://instagram.com/{{instagramUser}}" target="_blank">Instagram.</a></p>
  <p>Para más información, no dudes en contactarnos en nuestra dirección de <a *ngIf="emailAddress" href="mailto:{{emailAddress}}">correo electrónico</a>. Allí resolveremos cualquier duda que tengas sobre el cotrometraje o el proyecto interactivo en sí mismo. Y recuerda, tu opinión nos importa.</p>
</div>

<app-footer></app-footer>
